# Verification

* [形式化驗證 (Formal Verification)](https://hackmd.io/s/H1xxp3pF0)